
        <% if params[:action] == 'search' %>
            <div class="results-block" align="center">
                <%= bootstrap_flash %>
            </div>
        <% end %>

        <% if @users %>
            <% if @users.size > 0 %>
             <div class="container vertical-center">
                <div class="col-md-12 col-md-offset-0" align="center">
                    <div id="friend-lookup-results" class="well results-block">
                    <table class="table table-striped"> 
                        <tbody>
                            <% @users.each do |user| %>
                                <tr>
                                    <td>Name: <%= user.full_name %></td>
                                    <td>Email: <%= user.email %></td>
                                    <td>Profile: <%= link_to "View Profile",  user_path(user), class: "btn btn-xs btn-success" %></td>
                                    <% if current_user.not_friends_with?(user.id) %>
                                    <td><%= link_to "Add as my friend", add_friend_path(user: current_user, friend: user), class: "btn btn-xs btn-success", method: :post %>
                                    <% else %>
                                    <td><span class= "label label-primary">You are already friends</span></td><% end %>
                                    
                                <% end %>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
                    
            <% end %>
        <% end %>