
<!--p id="notice"><!%= notice %></p-->

<!DOCTYPE html>
<html lang='en'>

<h1 class="title">CycleHub Stores</h1>

  <% @stores.each do |store| %>
  
    <!--div class="col-sm-6 col-md-4">
      <div class="thumbnail thumb-box">
        <h2 style="text-align:center;"><!%= store.name %></h2>
          <!%= image_tag(store.image, size: "250x300") %>
            <div class="caption" style="text-align:center;">
            </div>
          <!% end %-->
          
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
              <div class="well well-lg">
                <div class="store-name">
                  <h2><%= store.name %></h2>
                    <%= link_to 'Store Bicycles', store_bicycles_path(store) %>
                    <% if signed_in? && (current_user.admin?) %>
                      <%= link_to 'Edit', edit_store_path(store) %>
                      <%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
   <% if signed_in? && (current_user.admin?) %>
     <%= link_to 'New Store', new_store_path %>
   <% end %>

</html>