<p id="notice"><%= notice %></p>

<p class="title">
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p class="title">
  <strong>Image:</strong>
  <%= image_tag @store.image %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
