

<h3 class="title"> Bookings for 
<%= @store_bicycle.store.name %>
<%= @store_bicycle.bicycle.name %> 
</h3>

<% if @bookings %>
  <!--% if @bookings.size > 0 %-->
  <% @bookings.each do |booking| %>
    <table class="table table-default">
    <thead>
      <tr>
        <td>Start</td><br>
        <td>End</td><br>
        <td>Price</td>
        <td>User</td>
        <td>Created</td>
        <td>Updated</td>
        
      </tr>
    </thead>
    <tbody>
      <!--% @bookings.each do |booking| %-->
      <tr>
        <td><%= booking.start_time.strftime('%e %b %Y %H:%M%p') %></td>
        <td><%= (booking.calculate_end_time + 60).strftime('%e %b %Y %H:%M%p') %></td>
        <td><%= (booking.sum_price) %></td>
        <body>
        <td><small><%= booking.user_id if booking.user_id%> <%= link_to gravatar_for(booking.user), user_path(booking.user_id) if booking.user_id%></td>
        <td><%= time_ago_in_words(booking.created_at) unless booking.created_at.blank? %> </td>
        <td><%= time_ago_in_words(booking.updated_at) unless booking.updated_at.blank? %> </small></td>
        </body>
        <% if signed_in? && (current_user == booking.user) %> 
        <td><%= link_to "Delete", store_bicycle_booking_path(@store_bicycle, booking), data: { confirm: 'Are you sure?' }, method: :delete %>
        </td>
        <td><%= link_to "Edit", edit_store_bicycle_booking_path(@store_bicycle, booking) %>
        </td>
      </tr>
      </tbody>
    </table>
   <% end %>
  <!--% end %-->
<% end %>
  <% else %><br>
    <h5 class="title">No Bookings Yet!</h5>
  <% end %>

