<!DOCTYPE html>
<html lang='en'>

<h3 class="title">Booking Confirmation</h3>
<p>Your booking is confirmed for
  <%= @store_bicycle.bicycle.name %>:
  <%= @booking.start_time.strftime('%e %b %Y %H:%M%p') %>
  until
  <%= (@booking.calculate_end_time + 60).strftime('%e %b %Y %H:%M%p') %>
  
  <ul class="listing">
    <div class="row center">
      <div class="col-md-4 col-md-offset-4">
        <td>Booked by:</td>
          <td><%= link_to gravatar_for(@booking.user), user_path(@booking.user) %></td>
            <td class="booking-title">
             <%= link_to @booking.user.email, user_path(@booking.user) %>
            </td>
            <li><small>
              <%= pluralize(@booking.user.bookings.count, "booking") if @booking.user.bookings %>
            </small></li>
          </li>
        </li>
      </div>
    </div>
  </ul>
  