
<% @user ||= current_user %>
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="jumbotron">
      <div class="container vertical-center">
        <div class="col-md-6 col-md-offset-3">
          <h1 align="center"> <%= gravatar_for(current_user, size: 300) %> </h1>
          <strong>Welcome <%= current_user.first_name %></strong>
        </div>
    </div>
    <div class="container vertical-center">
      <div class="col-md-6 col-md-offset-3">
        <%= link_to 'Browse Bicycles', bicycles_path, class: 'btn btn-lg btn-info'%>
      </div>
    </div>
    <div class="container vertical-center">
      <div class="col-md-6 col-md-offset-3">
        <div id="storebicycle-lookup">
          <%= form_tag search_store_bicycles_path, remote: true, method: :get, id: "storebicycle-lookup-form" do %>
            <div class="form-group row no-padding text-center col-md-12">
                <%= number_field_tag :storebicycle, params[:storebicycle], placeholder: "Bicycle id", autofocus: true, class: "form-control search-box input-md" %>
            </div>
            <div class="container vertical-center">
              <div class="col-md-6 col-md-offset-3">
                <%= button_tag(type: :submit, class: "btn btn-sm btn-success") do %>
                  <i class="fa fa-search"></i> Look up a bicycle
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <div class="container vertical-center">
    <div class="col-md-10 col-md-offset-1">
      <div id="results">
        <%= render "users/result" %>
      </div>
    </div>
  </div>
  <div class="container vertical-center">
    <div class="col-md-12 col-md-offset-0">
      <%= render 'store_bicycles/list' %>
    </div>
  </div>
</div>

</html>