<!DOCTYPE html>
<html lang='en'>


<p id="notice"><%= notice %></p>

<p class="title">
  <span>Name:</span>
   <!--span><strong><!%= @bicycle.price_status %></strong></span-->
  <span><strong><!%= @bicycle.name %></strong></span>
  <span><strong>Price:</strong></span>
  <span><%= @bicycle.price%></span>
</p>
<div class="photo">
  <%= image_tag @bicycle.image%>
</div>

  <%= link_to 'Edit', edit_bicycle_path(@bicycle) %> |
  <%= link_to 'Back', bicycles_path %>
</html>