<h3 class = "title">Store Bicycles</h3>

<% @store_bicycles.each do |store_bicycle| %>
  <div class="store_bicycle">
    <%= store_bicycle.store.name %>
    <%= store_bicycle.bicycle.name %>
    <%= link_to "Show all bookings", store_bicycle_bookings_path(store_bicycle) %>
    <%= link_to "Delete", store_bicycle_path(store_bicycle), data: { confirm: 'Are you sure?' }, method: :delete %>
    <%= link_to "Edit", edit_store_bicycle_path(store_bicycle) %>
    <%= link_to "Add booking", new_store_bicycle_booking_path(store_bicycle) %>
    
  </div>
<% end %>
<%= link_to 'New Store Bicycle', new_store_bicycle_path %>