<h3 class = "title">Store Bicycles</h3>
<% if @store_bicycles %>
<% @store_bicycles.each do |store_bicycle| %>
  <div class="store_bicycle">
    <%= store_bicycle.store.name %>
    <%= store_bicycle.bicycle.name %>
    <%= link_to "Show all bookings", store_store_bicycle_bookings_path(@store, store_bicycle) %>
    <%= link_to "Add booking", new_store_store_bicycle_booking_path(@store, store_bicycle) %>
  </div>
  <% if signed_in? && (current_user.admin?) %>
    <%= link_to "Delete", store_store_bicycle_path(@store, store_bicycle), data: { confirm: 'Are you sure?' }, method: :delete %>
    <%= link_to "Edit", edit_store_store_bicycle_path(@store,store_bicycle) %>
  <% end %>
<% end %>
<% end %>
<% if signed_in? && (current_user.admin?) %>
<%= link_to 'New Store Bicycle', new_store_store_bicycle_path %>
<% end %>