<!DOCTYPE html>
<html lang='en'>

<head>

  <link href='https://fonts.googleapis.com/css?family=Bungee' rel='stylesheet' type='text/css'>
  <title>Rent-A-Bike</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'load'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'load' %>
  <%= javascript_include_tag :defaults %> 
  <%= csrf_meta_tags %>


  <link rel= "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel= "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.js"></script>
</head>
<% unless controller_name == "welcome" %>
<%= render 'layouts/header' %>
<% end %>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>
